:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#003E24,#1CA872,#2CCA8D,#42EA9A,#8ADC9C,#ABE8B9,#BBD1C0);   
}

/* CONFIGURANDO LAYOUT */
.container {
    max-width: 1106px;
    margin: auto;
}
.main {
    width: 1106px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* HEADER */
#wrapper-nav {
    width: 100%;
    margin: auto;
}
#wrapper-nav p {
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
    font-weight: 700;
}
#space-area {
    display: flex;
    justify-content: space-between;
}
.right-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

#wrapper-nav header {
    background-color: #5fdd96;
    width: 100%;
    height: 90px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
#wrapper-nav nav {
    line-height: 32px;
    background-color: #5cd28f;
    font-weight: 900;
}
#wrapper-nav nav ul {
    margin: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
#wrapper-nav nav ul li {
    list-style: none;
    padding: 0px 0px;
    display: inline-block;    
}
#wrapper-nav nav ul li a {
    text-decoration: none;
    color: #244834;
    padding: 7px 14px;
    transition: color .5s;
}
#wrapper-nav nav ul li a i {
    margin-right: 5px;
}
#wrapper-nav nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffff;
}
header a {
    width: fit-content;
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
}
header h1 {
    font-family: 'Nunito', sans-serif;
    line-height: normal;
    font-weight: 1000;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
#wrapper-nav nav ul li ul.dropdown li {
    display: block;
}
#wrapper-nav nav ul li ul.dropdown li a {
    display: flex;
    padding: 2px 10px;
}
#wrapper-nav nav ul li ul.dropdown {
    background: #5cd28f;
    position: absolute;
    z-index: 999;
    display: none;
}
#wrapper-nav nav ul li:hover ul.dropdown {
    display: block;
}
#wrapper-nav nav ul li:hover ul.dropdown li a .material-symbols-outlined { 
    padding: 0;
    vertical-align: text-bottom;
    margin-right: 2px;
}

/* LOGO */
header .logo {
    width: 60px;
    height: auto;
    margin-right: 5px;
}

/* BOTOES LOGIN */
.head-btn a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 7px 11px;
    transition: color .3s;
}
.head-btn a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

/* BARRA DE PESQUISA */
.search-box {
    background-color: transparent;
    border-radius: 10px ;
}
.row {
    background-color: #b6f2d0;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 15px;
}
.search-box input {
    width: 135px;
    flex: 1;
    height: 20px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    transition: width 250ms ease-in;
}
.search-box input:focus {
    width: 235px;
}
.search-box input::placeholder {
    color: #84B09B;
    font-family: 'Roboto', 'FontAwesome';
}
.search-box button {
    background-color: transparent;
    border: 0;
    outline: 0;
}
.search-box button .fa-solid {
    width: 22px;
    color: #555;
    font-size: 20px;
    cursor: pointer;
}
/* CAIXA TESTE */
.box {
    width: 100%;
    height: 100vh;
}

/* SESSÃO BANNER HOME */
.bg-home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
}
.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image:linear-gradient(to bottom, rgba(92,210,143,0.1), #003E24), url("../imgs/banner-1.png") ;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
    background-position: 50% 0;
}
.banner-layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.logo-banner {
    width: 240px;
    height: fit-content;
}
.logo-banner img {
    width: 100%;
    height: 100%;   
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}
@keyframes float{
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-30px);
    }
    100% {
        transform: translatey(0px);
    }
}
.title-banner {
    text-align: center;
    font-family: 'Nunito';
    color: #fff;
    text-transform: uppercase;
}
.title-banner h1 {
    font-size: 32px;
    text-shadow: 3px 0px 3px black;
}
.title-banner h2 {
    font-size: 18px;
    font-weight: 500;
}

/* SESSAO COMO ESTUDAR */
.como-estudar {
    background-color: #003E24;
}

/* SESSAO CARROSSEL ANIMAIS */
.main .title-1 h1 {
    color: #fff;
    text-shadow: 3px 0px 0px black;
    font-size: 34px;
    text-transform: uppercase;
}
.center-slide {
    display: flex;
    /* width: 990px; */
    height: 100%;
    margin: auto;
    position: relative;
}
.center-slide .img-slide img {
    max-width: 350px;
    /* width: calc(100% /3); */
    object-fit: cover;
}
.main .prev {
    position: absolute;
    left: 5%;
    top: 50%;
    padding: 50px 24px;
    background: rgba(92,210,143,0.32);
    border-radius: 50%;
    font-size: 90px;
    float: left;
    color: #244834;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease;

} 
.main .next {
    position: absolute;
    right: 5%;
    top: 50%;
    padding: 50px 24px;
    background: rgba(92,210,143,0.32);
    border-radius: 50%;
    font-size: 90px;
    /* float: right; */
    color: #244834;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease;
}
.main .next:hover {
    background: rgba(92,210,143,0.65);
}
.main .prev:hover {
    background: rgba(92,210,143,0.65);
}
.animais {
    position: relative;
    background-image: url("../imgs/bg_foresta.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    margin: auto;
    display: flex;
}
.center-slide .img-slide {
    transform: scale(0.6);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    outline: none !important;
}
.center-slide .img-slide.slick-center {
    transform: scale(1.0);
}
.slick-track {
    display: flex;
    align-items: flex-end;
}
 .slide-title{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 200px;
    vertical-align: middle;
    font-family: 'Roboto';
    font-weight: 700;
    color: #5fdd96;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 6px 6px 7px black;
    z-index: 2;
}
/* TRONCO TITULO */
.animal-title {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: fit-content;
    right: 0;
    bottom: 10%;
}
.tronco-nome {
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* FOOTER */
footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#youtube {
    background-color: red;
}

#tiktok {
    background-color: #0e0c0c;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #1CA872;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}
#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/* MEDIAS QUERYS */
@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
